<!--Mainmenu-area-->
<div class="mainmenu-area" data-spy="affix" data-offset-top="100">
    <div class="container">
        <!--Logo-->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#primary-menu">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="#" class="navbar-brand logo">
                <h2>JobyChat</h2>by Jobylon
            </a>
        </div>
        <!--Logo/-->
        <nav class="collapse navbar-collapse" id="primary-menu">
            <ul class="nav navbar-nav navbar-right">
                {% if user.is_authenticated %}
                    <li><a href="{% url 'chat' %}">Chat room</a></li>
                    <li><a href="{% url 'dialogs' %}">My discussions</a></li>
                    <li><a href="{% url 'logout' %}">Logout ({{ user.username }})</a></li>
                {% endif %}
            </ul>
        </nav>
    </div>
</div>
<!--Mainmenu-area/-->