<!doctype html>
<html lang="en">
<head>
    {% load static %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Place favicon.ico in the root directory -->
    <link rel="apple-touch-icon" href="{% static "images/apple-touch-icon.png" %}">
    <link rel="shortcut icon" type="image/ico" href="{% static "images/favicon.ico" %}"/>
    <!-- Plugin-CSS -->
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "css/owl.carousel.min.css" %}">
    <link rel="stylesheet" href="{% static "css/themify-icons.css" %}">
    <link rel="stylesheet" href="{% static "css/magnific-popup.css" %}">
    <link rel="stylesheet" href="{% static "css/animate.css" %}">
    <!-- Main-Stylesheets -->
    <link rel="stylesheet" href="{% static "css/normalize.css" %}">
    <link rel="stylesheet" href="{% static "style.css" %}">
    <link rel="stylesheet" href="{% static "css/responsive.css" %}">
    <script src="{% static "js/vendor/modernizr-2.8.3.min.js" %}"></script>

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet"
          integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">

    <!--[if lt IE 9]>
        <script src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <title>JobyChat - {% block title %}Chat{% endblock %}</title>

</head>
<body data-spy="scroll" data-target="#primary-menu" class="sky-bg">


<div class="preloader">
    <div class="sk-folding-cube">
        <div class="sk-cube1 sk-cube"></div>
        <div class="sk-cube2 sk-cube"></div>
        <div class="sk-cube4 sk-cube"></div>
        <div class="sk-cube3 sk-cube"></div>
    </div>
</div>

{% include '_includes/navbar.html' %}


{% block content %}{% endblock %}


<!--Vendor-JS-->
<script src="{% static "js/vendor/jquery-1.12.4.min.js" %}"></script>
<script src="{% static "js/vendor/bootstrap.min.js" %}"></script>
<!--Plugin-JS-->
<script src="{% static "js/owl.carousel.min.js" %}"></script>
<script src="{% static "js/contact-form.js" %}"></script>
<script src="{% static "js/jquery.parallax-1.1.3.js" %}"></script>
<script src="{% static "js/scrollUp.min.js" %}"></script>
<script src="{% static "js/magnific-popup.min.js" %}"></script>
<script src="{% static "js/wow.min.js" %}"></script>
<!--Main-active-JS-->
<script src="{% static "js/main.js" %}"></script>
</body>
</html>
</head>
