{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
    <header class="header-area overlay full-height relative v-center" id="home-page">
        <div class="absolute anlge-bg"></div>
        <div class="container">
            <div class="row v-center">
                <div class="col-xs-12 col-md-7 header-text">
                    <h2>Login to use our JobyChat</h2>
                    <p>We are happy to see you back! Type in your username and password and let's chat!</p>
                    <form method="post" class="contact-form">
                        {% csrf_token %}
                        <div class="form-double">
                            <input class="form-control" type="text" name="username" placeholder="Username"
                                   required="required">
                            <input class="form-control" type="password" name="password" placeholder="Password"
                                   required="required">
                        </div>
                        <button class="button white" type='submit' name='submit' value='sign_in'>Login</button>
                    </form>
                </div>
                <div class="col-md-1"></div>
                <div class="hidden-xs hidden-sm col-md-4 text-right">
                    <h2>Sign up</h2>
                    <p>If you don't have an account yet, it's simple to create!</p>
                    <form method="post" class="contact-form">
                        {% csrf_token %}
                        {% for field in signup_form %}
                            <input class="form-control" name="{{ field.name }}" placeholder="{{ field.label }}"
                                   required="required"
                                   {% if field.name == 'password1' or field.name == 'password2' %}type="password"{% endif %}>
                        {% endfor %}
                        <button class="button white" type='submit' name='submit' value='sign_up'>Sign up</button>
                    </form>
                </div>
            </div>
        </div>
    </header>
{% endblock %}
