{% extends 'base.html' %}

{% block title %}Chat room{% endblock %}

{% block content %}
    <header class="header-area overlay full-height relative v-center" id="home-page">
        <div class="absolute anlge-bg"></div>
        <div class="container">
            <div class="row v-center">
                <div class="col-xs-12 col-md-7 header-text">
                    <h2>Hey, {{ user.username }}!</h2>
                    <p>To start chatting, please click on any currently online users</p>
                    <p style="font-size: smaller">You can also click <a href="{% url 'dialogs' %}">"My discussions"</a>
                        to see the archive
                        of your conversations</p>
                </div>
                <div class="col-md-1"></div>

                <div class="hidden-xs hidden-sm col-md-4 text-right">
                    <div class="card" style="width: 18rem;">
                        <div class="card-header">
                            <h3>Currently online users</h3>
                        </div>
                        <ul class="list-group list-group-flush">
                            {% if users.count > 1 %}
                                {% for usr in users %}
                                    {% if usr.id != user.id %}
                                        <li class="list-group-item">
                                            <a href="{% url 'create_dialog' user_id=usr.id %}"
                                               style="color: #515656">{{ usr.username }}</a>
                                            <i class="fa fa-user" style="color: #515656"></i>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            {% else %}
                                <li class="list-group-item" style="color: #515656">
                                    No online users
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </header>
{% endblock %}