{% extends 'base.html' %}
{% load custom_tags %}

{% block title %}Private chat{% endblock %}
{% block content %}
    <div>

        {% if chats.count == 0 %}
            <div class="chat_container">
                <div class="messaging">
                    <h2>Sorry, you have no conversations yet.</h2>
                    <h2>But you can go to <a href="{% url 'chat' %}">Chat Room</a> and start chatting!</h2>
                </div>
            </div>
        {% else %}
            <div class="chat_container">
                <div class="messaging">
                    <div class="inbox_msg">
                        <div class="inbox_people">
                            <div class="headind_srch">
                                <div class="recent_heading">
                                    <h4>All Discussions</h4>
                                </div>
                            </div>
                            <div class="inbox_chat">
                                {% for chat in chats %}
                                    {% if chat.message_set.count != 0 %}
                                        {% get_companion user chat as companion %}
                                        <div class="chat_list">
                                            <div class="chat_people"
                                            ">
                                            <div class="chat_img"><img
                                                    src="https://ptetutorials.com/images/user-profile.png"
                                                    alt="sunil">
                                            </div>
                                            <div class="chat_ib">
                                                <h5>{{ companion.username }}
                                                    <span class="chat_date"><a href="{{ chat.get_absolute_url }}"> Click here to see full conversation</a></span>
                                                </h5>
                                                <p>Here you can see your full conversation
                                                    with {{ companion.username }}</p>
                                            </div>
                                        </div>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            </div>
            </div>
        {% endif %}
    </div>


{% endblock %}