{% extends 'base.html' %}
{% load tz %}
{% load custom_tags %}
{% load static %}

{% block title %}Private chat{% endblock %}
{% block content %}
    <div class="container-fluid">
        {% if not chat %}
            User not found or you dont have access
        {% elif chat %}
            <div class="chat_container">
                <div class="messaging">
                    <h3>Conversetion with {% get_companion user chat as companion %}<span
                            style="color: #515656">{{ companion }}</span></h3>
                    <div class="inbox_msg">
                        <div class="mesgs inbox_people">
                            <div class="msg_history">
                                {% for message in chat.message_set.all %}
                                    {% if message.author.username == user.username %}
                                        <div class="outgoing_msg">
                                            <div class="sent_msg">
                                                <p>{{ message.message|safe }}</p>
                                                <span class="time_date"> {{ message.pub_date|utc }}</span>
                                            </div>
                                        </div>
                                    {% else %}
                                        <div class="incoming_msg">
                                            <div class="incoming_msg_img">
                                                <img src="{% static 'images/user-profile.png' %}" alt="sunil">
                                            </div>
                                            <div class="received_msg">
                                                <div class="received_withd_msg">
                                                    <p>{{ message.message|safe }}</p>
                                                    <span class="time_date"> {{ message.pub_date|utc }}</span>
                                                </div>
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endfor %}

                                <div class="type_msg">
                                    <div class="input_msg_write">
                                        <form method="post">
                                            {% csrf_token %}
                                            <input type="text" name="message" class="write_msg"
                                                   placeholder="Type a message"/>
                                            <button class="msg_send_btn" type="submit"><i class="fa fa-paper-plane-o"
                                                                                          aria-hidden="true"></i>
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
{% endblock %}